# Retail Sales Analysis

## Objective
We want to look at retail sales data and understand what is inside it using Python.

In [1]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use("Agg")
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/retail_sales.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
0,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
1,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
3,B-26776,4975,1330,14,Electronics,Printers,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
4,B-26776,4975,1330,14,Electronics,Printers,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12

In [3]:
df.columns

Index(['Order ID', 'Amount', 'Profit', 'Quantity', 'Category', 'Sub-Category',
       'PaymentMode', 'Order Date', 'CustomerName', 'State', 'City',
       'Year-Month'],
      dtype='object')

In [4]:
df["City"]

0               Miami
1             Chicago
2             Buffalo
3               Miami
4             Chicago
            ...
1189    New York City
1190        Rochester
1191           Austin
1192          Buffalo
1193          Chicago
Name: City, Length: 1194, dtype: object

In [5]:
df["City"].head()

0      Miami
1    Chicago
2    Buffalo
3      Miami
4    Chicago
Name: City, dtype: object

In [6]:
df["Amount"].head()

0    9726
1    9726
2    9726
3    4975
4    4975
Name: Amount, dtype: int64

In [7]:
df["City"].value_counts()

City
Buffalo          90
San Francisco    84
Orlando          77
Rochester        74
San Diego        73
Dallas           72
Cleveland        70
Springfield      68
Miami            66
Austin           65
Chicago          63
New York City    62
Los Angeles      61
Cincinnati       61
Tampa            57
Houston          52
Peoria           50
Columbus         49
Name: count, dtype: int64

In [8]:
df["City"].value_counts().head()

City
Buffalo          90
San Francisco    84
Orlando          77
Rochester        74
San Diego        73
Name: count, dtype: int64

In [9]:
df[df["City"] == "Buffao"]

Empty DataFrame
Columns: [Order ID, Amount, Profit, Quantity, Category, Sub-Category, PaymentMode, Order Date, CustomerName, State, City, Year-Month]
Index: []

In [10]:
df[df["City"] == "Buffalo"].head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
5,B-26776,4975,1330,14,Electronics,Printers,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
64,B-25372,1016,172,20,Furniture,Tables,Debit Card,2020-11-16,Heather Jenkins,New York,Buffalo,2020-11
65,B-25372,5768,2059,14,Furniture,Tables,UPI,2020-11-16,Heather Jenkins,New York,Buffalo,2020-11
66,B-25372,1217,151,3,Furniture,Tables,Credit Card,2020-11-16,Heather Jenkins,New York,Buffalo,2020-11

In [11]:
buffalo_df = df[df["City"] == "Buffalo"]
sf_df = df[df["City"] == "San Francisco"]

In [12]:
len(buffalo_df), len(sf_df)

(90, 84)

During the initial exploration of the retail sales dataset, sales activity was compared between Buffalo and San Francisco. Buffalo recorded 90 sales, while San Francisco recorded 84 sales, indicating slightly higher sales activity in Buffalo.

This difference suggests that Buffalo may have stronger transaction volume in this dataset. However, sales volume alone doesn't reflect revenue perfomance, and further analysis (such as average sales value) is required to better understand overall perfomance between the two cities.

In [13]:
df.columns

Index(['Order ID', 'Amount', 'Profit', 'Quantity', 'Category', 'Sub-Category',
       'PaymentMode', 'Order Date', 'CustomerName', 'State', 'City',
       'Year-Month'],
      dtype='object')

In [14]:
buffalo_df["Amount"].mean()

np.float64(4650.155555555555)

In [15]:
sf_df["Amount"].mean()

np.float64(5238.0952380952385)

In [16]:
buffalo_df["Amount"].mean(), sf_df["Amount"].mean()

(np.float64(4650.155555555555), np.float64(5238.0952380952385))

In [17]:
round(buffalo_df["Amount"].mean(), 2), round(sf_df["Amount"].mean(), 2)

(np.float64(4650.16), np.float64(5238.1))

## Insight: Sales Volume vs Average Sales Value by City.

An initial comparison between Buffalo and San Francisco shows that Buffalo recorded a slightly higher number of sales (90) than San Francisco (84). However when examining the average sales value, San Francisco outperformed Buffalo. 

The average transaction value in Buffalo was approximately **4, 650**, while San Francisco recorded a higher average of approximately **5, 238** per transaction. This suggests that although Buffalo has marginally higher sales activity, San Francisco generates more value per sale, highlighting the importance of analyzing both sales volume and sales value when assessing peromance across locations.

In [18]:
cities = ["Buffalo", "San Francisco"]
average_sales = [
    buffalo_df["Amount"].mean(),
    sf_df["Amount"].mean()
]

In [19]:
plt.figure()
plt.bar(cities, average_sales)
plt.title("Average Sales Value by City")
plt.ylabel("Average Sales Amount")
plt.xlabel("City")

plt.savefig("average_sales_by_city.png", bbox_inches="tight")
plt.close()